include README.md
include requirements.txt
include openpmd_viewer/openpmd_timeseries/cython_function.pyx
include openpmd_viewer/notebook_starter/openPMD_notebook
include openpmd_viewer/notebook_starter/Template_notebook.ipynb
