name: Unix

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-20.04]
        include:
          - python-version: 3.9
            os: macos-latest
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Cache conda
      uses: actions/cache@v3
      # Increase this value to reset cache
      env: {CACHE_NUMBER: 0}
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ matrix.python-version }}

    - uses: conda-incubator/setup-miniconda@v2
      name: Setup conda
      with:
        auto-update-conda: true
        activate-environment: testing
        auto-activate-base: false
        channels: conda-forge,defaults
        channel-priority: true

    - shell: bash -eo pipefail -l {0}
      name: Install dependencies
      run: |
        if [ "${{ matrix.python-version }}" != "3.8" ]; then
          conda install --yes cython numpy scipy h5py openpmd-api matplotlib jupyter pytest pyflakes python=${{ matrix.python-version }} python-wget
        else
          conda install --yes cython numpy scipy h5py matplotlib jupyter pytest pyflakes python=${{ matrix.python-version }} python-wget
        fi

    - shell: bash -eo pipefail  -l {0}
      name: pyflakes
      run: |
        if [ "${{ matrix.python-version }}" != "3.7" ]; then
          python -m pyflakes openpmd_viewer
        fi
    - shell: bash -eo pipefail -l {0}
      name: Test
      run: python setup.py test
